@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* GLOBAL CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: "Inter", sans-serif;
}

/* NAVBAR */

.nav{
  width: 100%;
  height: 6rem;
  display: flex;
  border-bottom: 1px solid rgb(60, 60, 60);
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem 0 2rem;
}

.nav-header{
  display: flex;
  font-weight: bold;
  color: rgb(92, 92, 247);
  align-items: center;
  gap: 0.5rem;
}

.nav-profile-container{
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.8rem;
  border-radius: 25px;
  cursor: pointer;
}

.nav-profile-container:hover{
  background-color: rgb(208, 207, 207);
}

.nav-avatar-container{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(92, 92, 247);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

/* TASKS SECTION */

.task-section{
  max-width: 1280px;
  margin: auto;
  margin-top: 3rem;
}

.tasks-header{
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.divider{
  width: 100%;
  height: 2px;
  background-color: lightgray;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* TASK */

.task-container {
  width: 400px;
  height: 300px;
  padding: 1.5rem;
  background: linear-gradient(to right, rgb(92, 92, 247), rgb(147, 147, 255));
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
}

.task-content {
  flex-grow: 1; 
}

.task-btn-container button {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
}

.task-title-container{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.task-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-priority{
  width: 50px;
  height: 50px;
  border: 2px solid white;
  background-color: rgb(67, 67, 252);
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-btn-container {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.task-btn-container button {
  width: 160px;
  padding: 0.35rem;
  display: flex;
  justify-content: center;
  font-size: 30px;
  align-items: center;
  border-radius: 5px;
  border: 2px solid white;
  cursor: pointer;
}
